.banner__titulo {
  color: #fdfdfd;
  font-family: var(--font-family-titulos);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  font-size: 5.0625rem;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .banner__titulo {
    font-size: 3rem;
  }
}