:root {
    --color-titulos: #DA2B1F;
    --font-family-titulos: Pacifico, cursive;
    --color-descripcion: #8C8888;
    --font-size-titulos: 3.1875rem;
    --font-size-descripcion: 1.75rem;
}

body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}